#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    /*position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    */
}

canvas {
	margin-top:10%;
	background-color:#000000;
}

body {
	background-color: black;
}